@model Skateboard_World.Models.SAN_PHAM

@{
    ViewData["Title"] = "Sửa sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="MaSP" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhap" class="control-label"></label>
                <input asp-for="GiaNhap" type="number" class="form-control" />
                <span asp-validation-for="GiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" type="number" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <textarea asp-for="MoTa" class="form-control"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <label>Hình ảnh hiện tại ( chọn vào hình ảnh để xóa)</label>
            <div id="currentImages">
                @if (Model.DS_HINH_ANH != null && Model.DS_HINH_ANH.Any())
                {
                    foreach (var img in Model.DS_HINH_ANH)
                    {
                      @*   <img src="~/img/product/@img.MediaHinhAnh" class="image" /> *@
                        <img src="@img.MediaHinhAnh" width="100px" height="100px" />
                        <input type="checkbox" name="selectedImages" value="@img.MaDSHinhAnh" id="@img.MediaHinhAnh" />
                       
                    }
                }
                else
                {
                    <p>Không có hình ảnh</p>
                }
            </div>
            <div class="form-group">
                <label for="HinhAnhTaiLen" class="control-label">Tải Hình Ảnh</label>
                <input type="file" id="HinhAnhTaiLen" name="HinhAnhTaiLen" multiple class="form-control" onchange="previewImages()" />
            </div>
            <div class="form-group" id="reloadImage"></div>
            <div>
                <input type="submit" value="Lưu" asp-route-id="@Model.MaSP" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary"> Trở về</a>
            </div>
            <div>
                
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function previewImages() {
            var preview = document.querySelector('#reloadImage');
            preview.innerHTML = '';
            var files = document.querySelector('input[type=file]').files;
            function readAndPreview(file) {
                if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    var reader = new FileReader();
                    reader.addEventListener("load", function () {
                        var image = new Image();
                        image.height = 100;
                        image.title = file.name;
                        image.src = this.result;
                        preview.appendChild(image);
                    }, false);
                    reader.readAsDataURL(file);
                }
            }
            if (files) {
                [].forEach.call(files, readAndPreview);
            }
        }
    </script>
}
