@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tổng Đơn Hôm nay</h4>
                    <p class="card-category">
                        <h4 style="color: limegreen">
                            1 đơn
                        </h4>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Vừa cập nhật
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Doanh Thu Tháng</h4>
                    <p class="card-category">
                        <h4 style="color: red">
                            30,000,000 đ
                        </h4>
                    </p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> Cập nhật hôm nay
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Sản phẩm bán chạy</h4>
                    <p class="card-category">Top sản phẩm bán chạy</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                ID
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Số lượt bán
                            </th>

                            <th>
                                Giá
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <img src="https://centosy.vn/pictures/picfullsizes/2022/10/07/xmz1665112801.jpg" width="100px" height="100px" />
                                    </td>
                                    <td>
                                        VÁN TRƯỢT SKATEBOARD 1100-10
                                    </td>
                                    <td>
                                        7
                                    </td>

                                    <td class="text-primary">
                                        799,000đ
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        <img src="https://centosy.vn/pictures/picfullsizes/2022/10/12/hkv1665570702.jpg" width="100px" height="100px" />
                                    </td>
                                    <td>
                                        VÁN TRƯỢT SKATEBOARD JOCY 02
                                    </td>
                                    <td>
                                        5
                                    </td>

                                    <td class="text-primary">
                                        599,000đ
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
