@model Skateboard_World.Models.SAN_PHAM
@{
    ViewData["Title"] = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="container mt-5">
    <div class="row">
        <!-- Product Image -->
        <div class="col-md-6">
            @if (Model.DS_HINH_ANH != null && Model.DS_HINH_ANH.Any())
            {
                foreach (var img in Model.DS_HINH_ANH)
                {
                    <img src="@img.MediaHinhAnh" width="500px" height="500px" />
                    break;
                }
            }
            else
            {
                <p>Không có hình ảnh</p>
            }

        </div>
        <!-- Product Details -->
        <div class="col-md-6">
            <h1 class="display-4">@Model.TenSP</h1>
            
            <h3 class="my-4">@Model.GiaBan đ</h3>
            
            <!-- Product Options -->
           
            <!-- Quantity and Add to Cart Button -->
            <div class="form-group">
                <label for="quantityInput">Quantity:</label>
                <input type="number" class="form-control" id="quantityInput" value="1">
            </div>
           </<br />
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Thêm Vào Giỏ</button>
                <button class="btn btn-primary btn-lg btn-block">Mua Ngay</button>
            </div>
            
        </div>
        <p>Mô tả: @Model.MoTa</p> 
    </div>
   
</div>


            <script>
    $(document).ready(function () {
        $('.plus-btn').click(function () {
            console.log("12312312 +");
            var currentVal = parseInt($(this).prev().val());
            if (!isNaN(currentVal)) {
                $(this).prev().val(currentVal + 1);
            }
        });

        $('.minus-btn').click(function () {
            var currentVal = parseInt($(this).next().val());
            if (!isNaN(currentVal) && currentVal > 1) {
                $(this).next().val(currentVal - 1);
            }
        });
    });
    function showMore() {
        var showMoreText = document.querySelector('.btn-show-more');
        var description = document.querySelector('.modal_description');

        if (description.classList.contains('show-less')) {
            description.classList.remove('show-less');
            description.classList.add('show-more');
            showMoreText.innerText = 'Ẩn bớt';
        } else {
            description.classList.remove('show-more');
            description.classList.add('show-less');
            showMoreText.innerText = 'Xem thêm';
        }
    };
    $(document).ready(function () {
        $(".nav-link").click(function (e) {
            e.preventDefault();

            // Lấy chỉ số từ thuộc tính data-index
            var index = $(this).find("img").data("index");
            console.log(index);
            // Lấy đường dẫn hình ảnh tương ứng từ Model
            var imageUrl = $(this).find("img").attr("src"); // Đây là đường dẫn mới cần lấy từ hình ảnh được click
            console.log(imageUrl);

            // Cập nhật hình ảnh được chọn
            $("#selectedImage").attr("src", imageUrl);

            // (Tùy chọn) Cập nhật tiêu đề hoặc thông tin khác nếu cần
            // $("#selectedImage").attr("alt", $(this).find("img").attr("alt"));
        });
    });
</script>